@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
body {
  margin: auto;
  font-family: 'Rubik';
  background: #ffffff;
  font-size: 18px;
  height: 100vp;
  max-width: 120rem;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  max-width: 200vh;
  -ms-grid-rows: 0.2fr 1fr;
      grid-template-rows: 0.2fr 1fr;
}

.header {
  margin: auto;
  color: black;
  font-family: 'Rubik';
}

.header .logo {
  size: 20px;
  background-color: 'white';
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
      grid-template-columns: 0.2fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
}

.header .logo img {
  height: 50px;
  width: auto;
}

.header .tool-bar {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  font-family: 'Rubik';
}

.header .tool-bar #search-box {
  font-family: 'Rubik';
  height: 50px;
  width: 500px;
  margin-right: 20px;
  border-radius: 10px;
  padding-left: 15px;
  background: #CDF2C8;
  border: none;
}

.header .tool-bar button {
  font-family: 'Rubik';
  color: white;
  height: 50px;
  width: 150px;
  background: #63c069;
  border-color: #9ddfa1;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 400px;
}

.products {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.products .legend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
      grid-template-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  background-color: #afeba7;
  height: 60px;
  margin-top: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 25px;
  font-weight: 600;
  color: #3b6536;
}

.products .individual-product {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
      grid-template-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.products .individual-product .product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: auto;
}

.products .individual-product .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: black;
  text-align: center;
}

.products .individual-product .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: black;
}

.products .individual-product .product-ratings {
  font-size: 20px;
  color: black;
}

.products .individual-product .product-num-ratings {
  font-size: 20px;
  color: black;
}

.products .individual-product .product-link {
  font-size: 20px;
  color: black;
}

.products .individual-product .product-link-button {
  background-color: #afeba7;
  border-radius: 100px;
  -webkit-box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
          box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik';
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 0;
  font-size: 13px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.products .individual-product .product-link-button:hover {
  -webkit-box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
          box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  -webkit-transform: scale(1.05) rotate(-1deg);
          transform: scale(1.05) rotate(-1deg);
}
/*# sourceMappingURL=index.css.map */