@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  margin: auto;
  font-family: 'Rubik';
  background: #ffffff;
  font-size: 18px;
  height: 100vp;
  max-width: 120rem;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  max-width: 200vh;
  -ms-grid-rows: 0.2fr 1fr;
      grid-template-rows: 0.2fr 1fr;
}

.header {
  margin: auto;
  color: black;
  font-family: 'Rubik';
}

.header .logo {
  size: 100px;
  background-color: 'white';
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
      grid-template-columns: 0.2fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
}

.header .tool-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
}

.products {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.products .legend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
      grid-template-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.products .individual-product {
  background-color: #9ddfa1;
  border-radius: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
      grid-template-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.products .individual-product .product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: auto;
}

.products .individual-product .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: black;
  text-align: center;
}

.products .individual-product .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: black;
}

.products .individual-product .product-ratings {
  font-size: 20px;
  color: black;
}

.products .individual-product .product-num-ratings {
  font-size: 20px;
  color: black;
}

.products .individual-product .product-link {
  font-size: 20px;
  color: black;
}

.product-link-button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 13px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
 
.product-link-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/*# sourceMappingURL=index.css.map */