@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: auto;
  font-family: 'Rubik';
  background: #1e2124;
  font-size: 18px;
  height: 100vp;
  max-width: 120rem;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: grid;
  height: 100vh;
  max-width: 200vh;
  grid-template-rows: 0.2fr 1fr;
}

.header {
  margin: auto;
  color: pink;
  font-family: 'Rubik';
  .logo {
    size: 100px;
    background-color:'white';
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;

  }

  .tool-bar {
    display: grid;
    grid-template-columns: 0.2fr 1fr;

  }

  .legend {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
  }
}

.products {
  background: #282b30;
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 

  .individual-product {
    background-color: rgb(129, 212, 232);
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 0.4fr 0.2fr 0.2fr;
    column-gap: 10px;
    
    // TODO: Add product attributes 
    .product-image {
      display: flex;
      
      
    }
    .product-name {
      font-size: 30px;
      color: rgb(255, 0, 0);
    }
    .product-price {
      font-size: 30px;
      color: rgb(255, 140, 0);
    }
    .product-ratings {
      font-size: 30px;
      color: rgb(255, 247, 0);
    }
    .product-num-ratings {
      font-size: 30px;
      color: rgb(21, 255, 0);
    }
    .product-link {
      font-size: 30px;
      color: rgb(0, 183, 255);
    }
  }
}