<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href='/static/css/index.css'>
    <meta charset="UTF-8" />
    <title>Shoptimum</title>
  </head>
  <body>
    <div class="container">
        <div class="header">
          <div class="logo">
              <img src='/static/img/Shoptimum_Logo_text.png' alt="logo">
          </div>
          <div class="tool-bar">
             <div class="search">
              <input type="text" name="search-box" id="search-box" placeholder="Product to find">
              <button id="search-button">Search...</button>
            </div>
            <button type="button" id="implement-button">Implement</button>
            <button type="button" onClick="location.href='add_website.html'">Add website!</button>
          </div>
        <div class="products" id="products">
 
          <div class="legend">
            <div class="product-image-header">
              <p>IMAGE</p>
            </div>
            <div class="product-name-header">
              <p>NAME</p>
            </div>
            <div class="price-header">
              <p>PRICE</p>
            </div>
            <div class="rating-header">
              <p>REVIEW</p>
            </div>
            <div class="num-of-reviews-header">
              <p>#RATINGS</p>
            </div>
            <div class="link-to-product-header">
              <p>LINK</p>
            </div>
          </div>
 
          <div class="individual-product">
            <div class="product-image">
              <img src="/static/img/Shoptimum_Logo.png" alt="Product image" class="product-img">
            </div>
            <div class="product-name">
              <p>Avocado</p>
            </div>  
            <div class="product-price">
              <p>0</p>
            </div>
            <div class="product-ratings">
              <p>5 out of 5 stars</p>
            </div>
            <div class="product-num-ratings">
              <p>42</p>
            </div>
            <div class="product-link">
              <button type="button" class = "product-link-button" onClick="window.open('https://codeology.club');">Product Link</button>
            </div>
          </div>
          </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      let products = document.getElementById("products");
      let searchButton = document.getElementById("search-button");
      let searchBox = document.getElementById("search-box");
      
      
      // Listener for button click
      searchButton.addEventListener("click", function() {
        searchQuery = searchBox.value;
        let message = {
          search: searchQuery
        }
        products.innerHTML = "Loading Products... This may take a while"
 
        $.post("http://127.0.0.1:5000/webscrape", JSON.stringify(message), function(response){
          if (typeof response == "string") {
            response = JSON.parse(response);
          }
         
          products.innerHTML = `
            <div class="legend">
              <div class="product-image-header">
                <p>Image</p>
              </div>
              <div class="product-name-header">
                <p>Name</p>
              </div>
              <div class="price-header">
                <p>Price</p>
              </div>
              <div class="rating-header">
                <p>Review</p>
              </div>
              <div class="num-of-reviews-header">
                <p>#Ratings</p>
              </div>
              <div class="link-to-product-header">
                <p>Link</p>
              </div>
            </div>
          `;
          for (let i = 0; i < response.length; i++) {
            let product = response[i];
            let productDiv = document.createElement("div");
            productDiv.className = "individual-product"
            productDiv.innerHTML = `
            <div class="product-image">
              <img src="${product["Image Url"]}" alt=altText class="product-img" width="200" height="200">
            </div>
            <div class="product-name">
              <p>${product["Name"]}</p>
            </div>  
            <div class="product-price">
              <p>${product["Price"]}</p>
            </div>
            <div class="product-ratings">
              <p>${product["avg Review"]}</p>
            </div>
            <div class="product-num-ratings">
              <p>${product["num of Reviews"]}</p>
            </div>
            <div class="product-link">
              <button type="button" class = "product-link-button" onClick="insertData('${product["Location of Product"]}');">Product Link</button>
            </div>
            `;
            products.appendChild(productDiv);
          }
        });
      });
       /** sends success msg for debugging purposes. */
       function success(msg) {
        var send = document.getElementById("header1");
        // jk it is json //when pushing json, only receive txt vers of json need to turn into actual dictionary with parse
        send.appendChild(document.createTextNode(msg['msg']));
        send.appendChild(document.createElement("br"));
    }

    let implementButton = document.getElementById("implement-button");
    // Implement Button
    implementButton.addEventListener("click", function() {
        let message = {
          button: "button clicked"
        }
        products.innerHTML = "Loading Products... This may take a while"
 
        $.post("http://127.0.0.1:5000/implement", JSON.stringify(message));
      });

    /** Sends data to flask app. */
    const insertData = (newData) => {
        fetch("http://localhost:5000/addProduct", { 
            method: "POST",
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringify(newData)
        })
        .then(resp => resp.json())
        .then((data) => {
            success(data); // display response json from flask to webpage
            console.log(data)
        })
        .catch(error => console.log(error))
    }
    /**
    * Creates a json object including fields in the form
    * Turns HTML form object into  JSON object
    * @param {HTMLElement} form The form element to convert
    * @return {Object} The form data
    */
    const getFormJSON = (form) => {
        const data = new FormData(form);
        return Array.from(data.keys()).reduce((result, key) => {
          if (result[key]) {
            result[key] = data.getAll(key)
            return result
          }
          result[key] = data.get(key);
          return result;
        }, {});
      };
    </script>
  </body>
</html>
 
