<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href='static/css/index.css'>
    <meta charset="UTF-8" />
    <title>Shoptimum</title>
  </head>
  <body>
    <div class="container">

        <div class="header">
          <div class="logo">
              <!-- TODO: Image here -->
            <h1>Shoptimum</h1>
          </div>
          <div class="tool-bar">
            <!-- TODO: Add website button -->
            <div class="search">
              <input type="text" name="search-box" id="search-box" placeholder="Product to find">
              <!-- TODO: Search button Here -->
            </div>
          </div>
          <div class="legend">
            <!-- TODO: Add legend -->
          </div>
        </div>

        <div class="products" id="products">
          <div class="individual-product">
            <!-- TODO: What does each product need -->
          </div>
          </div>

        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      // TODO: Javascript here
    </script>
  </body>
</html>
